/**
 * Variables
 * =================================
 * - Colors
 * - Typography
 * - Sizes
 * - Other
 *
 *
 *
 */

//*********************************************
//***************** COLORS ********************
//*********************************************

// Main site colors
$primary: #000000;
$background: #F5F5F5;

// Brand palette colors
$blue-gray: #DFDFDF;
$charcoal: #A3A3A3;





//*********************************************
//****************** TYPE *********************
//*********************************************

// Fonts
$main-font: 'Open Sans', sans-serif;
$head-font: 'Raleway', serif;


//*********************************************
//***************** SIZES *********************
//*********************************************

// Font Sizes
$tiny: .8em;
$normal: 1em;
$small: 1.1em;
$medium: 1.7em;
$large: 2em;
$xlarge: 3em;



//*********************************************
//***************** OTHER *********************
//*********************************************