.detail-table {

  border-radius: 15px;

  h3 {
    font-size: 2em;
    padding-top: 10px;
  }

  p {
    text-align: left;
  }
}

.pkg-desc {
  font-size: .9em;
}

.narrow-hr {
  margin-top: 10px;
  margin-bottom: 10px;
}



// icons
.table-icon {
  font-size: 4em;
  background-color: $blue-gray;
  color: $primary;
  padding: 25px;
  border-radius: 15px;
}

.green-check {
  i {
    color: green;
  }
}