.detail-table {
  height: 700px;
  border-radius: 15px;

  h3 {
      font-size: 1.8em;
    padding-top: 10px;
  }
}

.narrow-hr {
  margin-top: 10px;
  margin-bottom: 10px;
}



// icons
.table-icon {
  font-size: 4em;
  background-color: $blue-gray;
  color: $primary;
  padding: 25px;
  border-radius: 15px;
}

.green-check {
  i {
    color: green;
  }
}